@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,400,700,900');

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	overflow-x: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

hr {
	height: 2px;
	border: 0;
	width: 5%;
	border-top: 2px solid white;
	padding-bottom: 1em;
}

.container {
	width: 95%;
	margin: 0 auto;
	max-width: 70em;
}

.modal {
	display: none;
	position: fixed;
	z-index: 500;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
}

.modal-content {
	background-color: white;
	margin: 10% auto;
	padding: 2em;
	width: 80%;
	box-shadow: 0 0 3em 0 rgba(0, 0, 0, 0.4);
}

.modal-close {
	color: darkgray;
	float: right;
	font-size: 2em;
	opacity: 0.7;
}

.modal-close:hover, .modal-close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* typography */

.title {
	font-size: 1.5rem;
	transition: all ease-in-out 250ms;
}

.title span {
	font-family: 'Pacifico', cursive;
	font-size: 2.5rem;
	font-weight: 400;
	color: #FFF;
	float: left;
}

h1 {
	font-weight: 300;
	font-size: 2.5rem;
}

/* buttons */

.button {
	display: inline-block;
	font-size: 1.1rem;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	padding: .5rem 1.5rem;
	color: powderblue;
	border-color: powderblue;
}

.button:hover {
	background: powderblue;
	color: black;
	transition: all ease-in-out 250ms;
}

.button-accent {
	color: darkcyan;
	border-color: darkcyan;
}

.button-accent:hover {
	background: darkcyan;
	color: white;
	transition: all ease-in-out 250ms;
}

/* header */

header {
	position: absolute;
	left: 0;
	right: 0;
}

header .title span {
	margin-top: 1em;
	margin-left: 2em;
}

nav {
	position: relative;
	z-index: 400;
	text-align: left;
	float: right;
	right: 2em;
	top: 3em;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	margin: 1em;
	display: inline-block;
}

nav a {
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	padding: .5em;
	font-size: .8rem;
	color: powderblue
}

nav a:hover, nav a:focus, .active {
	color:cadetblue;
	transition: all ease-in-out 250ms;
}

.menu {
	display: none;
}

.nav-mobile {
	display: none;
}

.menu div {
	width: 1.3em;
	height: 0.14em;
	background-color: powderblue;
	margin: 0.3em;
}

.sticky {
	position: fixed;
	top: 0;
	left: 0;
	text-align: right;
	padding-right: 2em;
	background-image: linear-gradient(to top, rgba(0,0,0,0.4), rgba(0,0,0,0.9));
	width: 100%;
	transition: background-image ease-in-out 250ms;
}

@media (max-width: 60rem) {
	.nav-links {
		position: fixed;
		background-color: rgba(0,0,0,0.9);
		padding: 5vw;
		right: 0em;
		top: 3em;
		height: 110vh;
		width: 60vw;
		transform: translateX(100%);
		transition: transform 250ms ease-in-out;
	}

	nav li {
		margin-bottom: 6vh;
		margin-right: 1em;
		display: inherit;
	}

	nav a {
		padding: .2em;
		font-size: inherit;
	}
	
	.title {
		margin-top: 2em;
	}
	
	.title span {
		position: absolute;
		left: -2em;
		right: 0;
	}
	
	.menu {
		z-index: 100;
		display: block;
		cursor: pointer;
		padding-right: 0.7em;
	}
	
	.menu div {
		transition: all 250ms ease-in-out;
	}

	.nav-mobile {
		z-index: 500;
		position: fixed;
		display: flex;
		top: 0;
		width: 100%;
		padding: 0.7em;
		justify-content: flex-end;
		background-color: rgba(0,0,0,0.9);
	}
	
	.nav-active {
		transform: translateX(0%);
	}
	
	.menu-toggle .line1 {
		transform: rotate(-45deg) translate(-5px, 5px);
	}
	
	.menu-toggle .line2 {
		opacity: 0;
	}
	
	.menu-toggle .line3 {
		transform: rotate(45deg) translate(-5px, -5px);
	}
}

/* home */

.home {
	background-image: url(../img/index/home-bg.jpg);
	background-size: cover;
	background-position: center;
	padding: 12em 0;
	color: white;
	box-shadow: 0 0 3em 0 rgba(0, 0, 0, 0.3);
}

.home-about {
	margin-top: 2rem;
}

.home-about-text {
	background-color: #232323;
	padding: 3em;
	padding-top: 2.5em;
}

.home-about-text h1 {
	margin-top: 0;
	color: powderblue;
}

.home-about-text p {
	color: aliceblue;
	text-align: left;
}

.home-about-text a {
	text-decoration: none;
	color: springgreen;
}

.home-about-text a:hover {
	color: teal;
	transition: all ease-in-out 250ms;
}

.home-about-text hr {
	width: 25%;
	border-top: 2px solid powderblue;
}

@media (min-width: 60rem) {
	.home-about {
		background-image: url("../img/index/aboutme.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 90%;
		padding-bottom: 5em;
		padding-right: 10em;
	}
	
	.home-about-text {
		position: relative;
		width: 50%;
		box-shadow: 0 0 3em 0 rgba(0, 0, 0, 0.4);
		top: -0.3em;
		left: -1em;
	}
}

/* portfolio */

.portfolio {
	margin: 3em 0;
	padding: 1em;
	padding-bottom: 5em;
	background-color: #232323;
	color: powderblue;
}

.portfolio hr {
	border-top-color: powderblue;
	width: 7rem;
}

.portfolio .button {
	margin-top: 2em;
}

.portfolio-section {
	margin: 0;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 3em 0 rgba(0, 0, 0, 0.4);
}

.portfolio-section img {
	display: block;
	object-fit: cover;
	width: 800px;
	height: 400px;
}

.portfolio-desc {
	position: absolute;
	z-index: 50;
	bottom: 0em;
	left: 0em;
	right: 0em;
	color: white;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
	padding: 1em;
	transition: all ease-in-out 250ms;
}

@media (min-width: 45rem) {
	.portfolio-section {
		align-content: center;
		width: 50%;
		float: left;
	}
	
	.portfolio img {
		width: 30em;
		height: 15em;
	}
}

@media (min-width: 60rem) {
	.portfolio-section {
		align-content: center;
		width: 25%;
		float: left;
	}
	
	.portfolio-desc {
		transform: translateY(150%);
	}
	
	.portfolio-section:hover .portfolio-desc {
		transform: translateY(0%);
	}
	
	.portfolio img {
		width: 30em;
		height: 20em;
	}
}

figure {
	margin: 0;
}

/* experience */

.experience {
	margin-top: 2em;
}

.experience h1 {
	margin-top: 0;
	color: powderblue;
}

.experience hr {
	width: 25%;
	border-top: 2px solid powderblue;
}

.experience p {
	text-align: left;
}

.experience-text {
	background-color: #232323;
	padding: 3em;
	padding-top: 2.5em;
	color: white;
}

.experience .button {
	margin-top: 1em;
}

@media (min-width: 60rem) {
	.experience {
		background-image: url("../img/index/experience-bg.JPG");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 90%;
		height: 40em;
		margin: 4em;
	}
	
	.experience-text {
		position: relative;
		width: 50%;
		box-shadow: 0 0 3em 0 rgba(0, 0, 0, 0.4);
		left: -2em;
		bottom: -14em;
	}
}

/* cta */

.cta {
	margin-top: 2em;
	background-color: #232323;
	padding: 2em 0;
	padding-bottom: 4em;
	color: #FFF;
}

/* footer */

footer {
	padding: 1em;
}

footer nav {
	margin-bottom: 3rem;
	z-index: 100;
}

footer p {
	margin-bottom: 0;
}

footer nav li {
	margin: 0.75em;
	display: inline-block;
}

footer img {
	width: 1.75rem;
}

@media (max-width: 60rem) {
	footer nav {
		float: inherit;
		position: inherit;
		text-align: center;
	}
}



/* portfolio.html */

#portfolio-page .home {
	background-image: inherit;
	background-size: cover;
	background-position: center;
	padding: 4em 0;
	padding-bottom: 2em;
	box-shadow: 0 0 3em 0 rgba(0, 0, 0, 0.3);
}

#portfolio-page .home .title {
	color: black;
	font-weight: 700;
}

#portfolio-page .title span {
	color: black;
}

@media (max-width: 90rem) {
	#portfolio-page .home h1 {
		padding-top: 3em;
	}
}

.portfolio-cat {
	padding: 16em;
	padding-top: 4em;
	color: white;
}

.portfolio-cat h1, h2, h3 {
	text-align: left;
}

.portfolio-cat h1 {
	font-weight: 700;
}

.portfolio-cat h3 {
	font-weight: 400;
}

.portfolio-item {
	overflow: auto;
	margin-top: 3em;
}

.portfolio-item img {
	width: 40%;
	float: left;
	padding-right: 4em;
	object-fit: cover;
}

.portfolio-item .portfolio-item-stack {
	width: 50%;
	height: 30vw;
	padding-right: 0.5em;
	padding-bottom: 0;
}

.portfolio-item-desc {
	margin-top: 5%;
}

@media (max-width: 80rem) {
	.portfolio-cat {
		padding: 4em;
	}
	
	.portfolio-item img {
		width: 50%;
	}
	
	.portfolio-item-desc {
		margin-top: 0;
	}
}

.portfolio-item-desc h3 {
	font-weight: 700;
	text-align: left;
}

.portfolio-item-desc p {
	padding-bottom: 2em;
	text-align: left;
}

/* art section */

.portfolio-cat .col-sm-4 {
	width: 32%;
	float: left;
	margin-right: 0.5em;
	margin-bottom: 3em;
}

.portfolio-cat .row img {
	margin-bottom: 0.3em;
	width: 100%;
}

#art img:hover {
	box-shadow: 0 0 3em 0 rgba(0, 0, 0, 0.4);
	opacity: 0.7;
	transition: opacity ease-in-out 250ms;	
	transition: box-shadow ease-in-out 250ms;
}

#sw {
	background-color: #24282B;
}

#eng {
	background-color: #201C27;
}

#art {
	background-color: #1D2436;
	overflow: auto;
}

@media (max-width: 60rem) {
	.portfolio-cat {
		padding: 2em;
	}
	
	.portfolio-item img {
		width: 90vw;
		float: inherit;
		padding-right: 0;
		padding-bottom: 0;
	}
	
	.portfolio-item iframe {
		width: 90vw;
		height: 50vw;
	}
	
	.portfolio-item .portfolio-item-stack {
		width: 90vw;
		height: 50vw;
		padding-right: 0;
	}
	
	.portfolio-cat .col-sm-4 {
		width: 100%;
		float: inherit;
		margin-bottom: 0;
	}
}