@import url('https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,400,700,900');

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 95%;
	margin: 0 auto;
	max-width: 70em;
}

/* typography */

.title {
	font-size: 1.5rem;
	transition: all ease-in-out 250ms;
}

.title span {
	font-family: 'Pacifico', cursive;
	font-size: 2.5rem;
	font-weight: 400;
	color: #FFFFFF;
}

@media (max-width: 30rem) {
	.title span {
		font-size: 1.5rem
	}
}

h1 {
	font-weight: 300;
	font-size: 2.5rem;
}

/* buttons */

.button {
	display: inline-block;
	font-size: 1.1rem;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	padding: .5rem 1.5rem;
	color: powderblue;
	border-color: powderblue;
}

.button:hover, .button:focus {
	background: powderblue;
	color: black;
	transition: all ease-in-out 250ms;
}

.button-accent {
	color: darkcyan;
	border-color: darkcyan;
	margin-top: 2em
}

.button-accent:hover, .button-accent:focus {
	background: darkcyan;
	color: white;
	transition: all ease-in-out 250ms;
}

/* header */

header {
	position: absolute;
	left: 0;
	right: 0;
	margin: 2em;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin: .2em;
}

nav a {
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .8rem;
	padding: .2em;
	color: powderblue
}

nav a:hover, nav a:focus {
	color: #67848C;
}

@media (min-width: 60rem) {
	.title span {
		float: left;
	}
	
	nav {
		float: right;
	}
	
	nav a {
		padding: .5em
	}
	
	nav li {
		margin: 1em;
	}
}

/* home */

.home {
	background-image: url(../img/home-bg.jpg);
	background-size: cover;
	background-position: center;
	padding: 12em 0;
	color: white;
	box-shadow: 0 0 3em 0 rgba(0, 0, 0, 0.3);
}

.home-about {
	margin-top: 2rem;
}

.home-about-text {
	background-color: #232323;
	padding: 4em;
	padding-top: 2.5em;
}

.home-about-text h1 {
	margin-top: 0;
	color: powderblue;
}

.home-about-text p {
	color: aliceblue;
	text-align: left;
}

.home-about-text a {
	text-decoration: none;
	color: springgreen;
}

.home-about-text a:hover, .home-about-text a:focus {
	color:teal
}

.home-about-text hr {
	height: 2px;
	border: 0;
	width: 25%;
	border-top: 2px solid powderblue;
}

@media (min-width: 60rem) {
	.home-about {
		background-image: url("../img/aboutme.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 90%;
		padding-bottom: 5em;
		padding-right: 10em;
	}
	
	.home-about-text {
		width: 50%;
		box-shadow: 0 0 3em 0 rgba(0, 0, 0, 0.4);
		top: -5em;
		left: -5em;
	}
}

/* portfolio */

.portfolio {
	margin: 3em 0;
	margin-bottom: 0;
	padding: 1em;
	padding-bottom: 5em;
}

.portfolio hr {
	height: 2px;
	border: 0;
	width: 5%;
	border-top: 2px solid black;
	padding-bottom: 1em;
}

.portfolio-section {
	margin: 0;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 3em 0 rgba(0, 0, 0, 0.4);
}

.portfolio-section img {
	display: block;
	object-fit: cover;
	width: 800px;
	height: 400px;
}

.portfolio-desc {
	position: absolute;
	z-index: 100;
	bottom: 0em;
	left: 0em;
	right: 0em;
	color: white;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
	padding: 1em;
	transition: all ease-in-out 250ms;
}

@media (min-width: 45rem) {
	.portfolio-section {
		align-content: center;
		width: 50%;
		float: left;
	}
	
	.portfolio img {
		width: 600px;
		height: 300px;
	}
}

@media (min-width: 60rem) {
	.portfolio-section {
		align-content: center;
		width: 25%;
		float: left;
	}
	
	.portfolio-desc {
		transform: translateY(150%);
	}
	
	.portfolio-section:hover .portfolio-desc {
		transform: translateY(0%);
	}
	
	.portfolio img {
		width: 600px;
		height: 400px;
	}
}

figure {
	margin: 0;
}

/* cta */

.cta {
	background-color: #232323;
	padding: 2em 0;
	padding-bottom: 4em;
	color: #FFF;
}

/* footer */

footer {
	margin: 3rem;
}

footer nav {
	margin-bottom: 3rem;
}

footer nav li {
	margin: 0.75em;
}

footer img {
	width: 1.2vw;
}


