<footer>
    <p>&copy; Bruce Nguyen 2021</p>
    <nav>
        <ul>
            <li><a href="mailto:bruce.nguyen@uwaterloo.ca"><img src="https://icon-library.net//images/android-mail-icon/android-mail-icon-14.jpg" alt="Email"></a></li>
            <li><a href="https://www.linkedin.com/in/brucenguyencs/" target="_blank"><img src="https://freepngimg.com/thumb/linkedin/5-2-linkedin-picture.png" alt="LinkedIn"></a></li>
            <li><a href="https://github.com/brucenguyen" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="GitHub"></a></li>
        </ul>
    </nav>
</footer>