<footer>
    <p>&copy; Bruce Nguyen 2020</p>
    <nav>
        <ul>
            <li><a href="mailto:bruce.nguyen@uwaterloo.ca"><img src="https://icons-for-free.com/iconfiles/png/512/mail+icon-1320183704725127707.png" alt="Email"></a></li>
            <li><a href="https://www.linkedin.com/in/brucenguyencs/" target="_blank"><img src="https://freepngimg.com/thumb/linkedin/5-2-linkedin-picture.png" alt="LinkedIn"></a></li>
            <li><a href="https://github.com/brucenguyen" target="_blank"><img src="https://cdn2.iconfinder.com/data/icons/social-icons-circular-color/512/github-512.png" alt="GitHub"></a></li>
        </ul>
    </nav>
</footer>