<header id="navbar">
    <nav class>
        <div>
            <ul class="nav-links">
                <li><a href="#" routerLink="/portfolio" routerLinkActive="active">Portfolio</a></li>
                <li><a href="#" routerLink="/experience" routerLinkActive="active">Experience</a></li>
                <li><a href="#" routerLink="/contact" routerLinkActive="active">Contact</a></li>
            </ul>
        </div>
    </nav>
    <div class="nav-mobile">
        <div class="hamburger" (click)="navToggle()">
            <div class="hamburger-top"></div>
            <div class="hamburger-middle"></div>
            <div class="hamburger-bottom"></div>
        </div>
    </div>
    <a href="#" class="title" routerLink="/">Bruce Nguyen</a>
</header>
<div class="arrow-up" onclick="window.scrollTo(0, 0);"></div>