#navbar {
	z-index: 500;
}

.title {
    font-size: 2em;
    font-weight: 300;
    text-transform: lowercase;
}

.nav-mobile {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1em;
    justify-content: flex-end;
    background-color: rgba(0,0,0,0.9);
}

a {
    text-decoration: none;
    color: white;
	transition: color ease-in-out 250ms;
	
	&:hover {
		color: Moccasin;
	}
}

.active {
	color: Moccasin;
	cursor: default;
}

header {
    position: absolute;
    padding: 2em 8em 0 8em;
    width: 100%;
}

nav {
    position: relative;
    float: right;
}

nav ul {
	list-style: none;
}

nav li {
	padding: 0.8em 0 0 2em;
	display: inline-block;
}

nav a {
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	padding: .5em;
    font-size: .8em;
    font-weight: 700;
}

.hamburger {
    display: block;
    cursor: pointer;
}

.hamburger div {
	width: 1.3em;
    height: 0.14em;
    margin: 0.3em;
	background-color: white;
    transition: all ease-in-out 250ms;
}

.sticky {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	display: block;
	padding: 0 8em 0 8em;
	backdrop-filter: blur(2px);
}

.arrow-up {
    background-image: url(https://www.iconninja.com/files/62/1016/62/down-arrow-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    width: 4em;
	height: 4em;
	bottom: 2em;
	right: 3em;
	z-index: 400;
	transform: scaleY(-1);
    transition: all ease-in-out 250ms;
	mix-blend-mode: difference;
	cursor: pointer;
	filter: brightness(0) invert(1);
	
	&:hover {
		transform: scale(1.1, -1.1);
	}
}

@media (max-width: 60rem) {
    header {
		padding: 0;
		height: fit-content;
    }

    .title {
		font-size: 1.2em;
		text-align: center;
        position: fixed;
        padding-top: 0.8em;
        left: 50%;
        transform: translate(-50%, 0);
    }

	.nav-links {
		position: fixed;
		background-color: rgba(0,0,0,0.9);
		padding: 6vh 5vw;
		right: 0;
		top: 3.6em;
		height: 110vh;
		width: 60vw;
		transform: translateX(100%);
		transition: transform 250ms ease-in-out;
	}

	nav li {
		margin-bottom: 6vh;
		margin-right: 1em;
		display: inherit;
	}

	nav a {
		padding: .2em;
		font-size: inherit;
	}

	.nav-mobile {
        display: flex;
    }
    
    #navbar .nav-active {
		transform: translateX(0%);
    }
	
	.nav-active .hamburger-top {
		transform: rotate(-45deg) translate(-5px, 5px);
	}
	
	.nav-active .hamburger-middle {
		opacity: 0;
	}
	
	.nav-active .hamburger-bottom {
		transform: rotate(45deg) translate(-5px, -5px);
	}
	
	.arrow-up {
		bottom: 1em;
		right: 1em;
	}
}
