.banner ul {
	padding-top: 12em;
	list-style: none;
}

.banner li {
	margin: -4em 0 -4em 5em;
}

.banner a {
    font-size: 8em;
    font-weight: 600;
    text-decoration: none;
    color: white;
    transition: color ease-in-out 250ms;

    &:hover {
        color: Moccasin;
    }
}

.contact-image {
	filter: brightness(0) invert(1);
	width: 60em;
	height: 60em;
	position: fixed;
	bottom: -20em;
	right: -15em;
	opacity: 0;
	transition: opacity ease-in-out 250ms;
}

.banner p {
	color: white;
    font-size: 2em;
    font-weight: 600;
	position: fixed;
	bottom: 0em;
	left: 4em;
    mix-blend-mode: difference;
	opacity: 0;
	transition: opacity ease-in-out 250ms;
}

@media(max-width: 90rem) {
	.contact-image {
		width: 40em;
		height: 40em;
	}
}

@media(min-width: 60rem) {
	#contact-email:hover ~ .img-email {
		opacity: 1;
	}

	#contact-linkedin:hover ~ .img-linkedin {
		opacity: 1;
	}

	#contact-github:hover ~ .img-github {
		opacity: 1;
	}

	#contact-discord:hover ~ .img-discord {
		opacity: 1;
	}

	#contact-steam:hover ~ .img-steam {
		opacity: 1;
	}
}

@media(max-width: 60rem) {
	.banner ul {
		padding-top: 10em;
	}

	.banner li {
		margin: -1em 0 -1em 0;
	}

	.banner a {
		font-size: 3em;
	}

	.banner p.img-discord {
		display: block;
		font-size: 3em;
		position: relative;
		left: 0;
		bottom: 2.34em;
		mix-blend-mode: normal;
		z-index: -1;
		transition: opacity ease-in-out 250ms;
	}

	#contact-discord:hover ~ p.img-discord {
		opacity: 1;
	}

	#contact-discord:hover {
		opacity: 0;
	}
}

@media(min-width: 150rem) {
	.banner ul {
		padding-top: 24em;
	}

	.banner li {
		margin: -8em 0 -8em 12em;
	}

	.banner a {
		font-size: 16em;
	}

	.banner p {
		left: 8em;
	}

	.contact-image {
		width: 80em;
		height: 80em;
	}
}