<div class="banner">
    <ul>
        <li id="contact-email"><a href="mailto:bruce.nguyen@uwaterloo.ca">Email</a></li>
        <li id="contact-linkedin"><a href="https://www.linkedin.com/in/brucenguyencs/" target="_blank">LinkedIn</a></li>
        <li id="contact-github"><a href="https://github.com/brucenguyen" target="_blank">GitHub</a></li>
        <li id="contact-discord"><a href="javascript:void(0)">Discord</a></li>
        <li id="contact-steam"><a href="https://steamcommunity.com/id/officially" target="_blank">Steam</a></li>
        <div id="contact-image"></div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/90/Outlook.com_icon_%282012-2019%29.svg" class="img-email contact-image">
        <img src="https://pngimg.com/uploads/linkedIn/linkedIn_PNG39.png" class="img-linkedin contact-image">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" class="img-github contact-image">
        <img src="https://discord.com/assets/1c8a54f25d101bdc607cec7228247a9a.svg" class="img-discord contact-image">
        <img src="https://cdn.cloudflare.steamstatic.com/store/about/icon-steamos.svg" class="img-steam contact-image">
        <p class="img-email">bruce.nguyen@uwaterloo.ca</p>
        <p class="img-linkedin">brucenguyencs</p>
        <p class="img-github">brucenguyen</p>
        <p class="img-discord">brucio#0001</p>
        <p class="img-steam">officially</p>
    </ul>
</div>