<div>
    <div class="banner">
        <p>
            A software developer, graphic designer, visual artist, film enthusiast, video gamer, Toronto-based.
        </p>
        <div class="arrow-down"></div>
    </div>
    <div class="about">
        <p>
            Studying Computer Engineering <a href="https://uwaterloo.ca/" target="_blank" class="hyperlink">@UW</a>, class of 2022.
			<br><br>
            I love working with design, but also love the freedom that is offered by programming. My goal is to bring those
            two passions together.
            <br><br>
            I have a tendency to cycle through hobbies frequently. It has
            allowed me to learn a lot about different communities. Over the past several years, I have dabbled in video
            production, livestreaming, PC building, video game design, and probably more.
        </p>
        <img id="portrait1" src="../../assets/home/portrait1.jpg" alt="September 2018">
    </div>
    <div class="portfolio">
        <a href="#" routerLink="/portfolio">
            <div class="carousel slide carousel-fade portfolio-preview" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="../../assets/portfolio/rey.jpg" alt="Rey">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../../assets/portfolio/robot-poster.jpg" alt="Mr. Robot Poster">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../../assets/portfolio/caravaggio.jpg" alt="Caravaggio">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../../assets/portfolio/dday.jpg" alt="Design Days">
                    </div>
                </div>
            </div>
        </a>
        <p>
            Engineering, Design, Software.<br>
            <a href="#" class="hyperlink" routerLink="/portfolio">See my work 🡒</a>
        </p>
    </div>
    <div class="contact">
        <p>
            <a href="#" routerLink="/contact">Contact</a><br>
            Let's talk business, or whatever you want I guess.
        </p>
    </div>
</div>

<app-footer></app-footer>