<div>
    <div class="banner">
        <p>
            Bruce Nguyen is a software developer, graphic designer, visual artist, film lover, video game enthusiast. 
            Currently trying out new things.
            <br><br>
            ECE 2022 @UWaterloo.
        </p>
        <div class="arrow-down"></div>
    </div>
    <div class="portrait">
        <img id="portrait2" class="parallax" data-speed="-1.5" src="../../assets/home/portrait2.jpg" alt="January 2017">
        <img id="portrait3" class="parallax" data-speed="-1" src="../../assets/home/portrait3.jpg" alt="January 2018">
        <img id="portrait1" class="parallax" data-speed="-1.1" src="../../assets/home/portrait1.jpg" alt="September 2018">
    </div>
    <div class="portfolio">
        <a href="#" routerLink="/portfolio">
            <div class="carousel slide carousel-fade portfolio-preview" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="../../assets/portfolio/rey.jpg" alt="Rey">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../../assets/portfolio/robot-poster.jpg" alt="Mr. Robot Poster">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../../assets/portfolio/caravaggio.jpg" alt="Caravaggio">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="../../assets/portfolio/dday.jpg" alt="Design Days">
                    </div>
                </div>
            </div>
        </a>
        <p>
            Engineering, Design, Software.<br>
            <a href="#" class="hyperlink" routerLink="/portfolio">See my work 🡒</a>
        </p>
    </div>
    <div class="experience">
        <p>
            Busy squishing bugs in enterprise software at SQL Power Group.<br>
            <a href="#" class="hyperlink" routerLink="/experience">Read more 🡒</a>
        </p>
        <img src="../../assets/experience/SQL.png">
    </div>
    <div class="contact">
        <p>
            <a href="#" routerLink="/contact">Contact</a><br>
            Hungry for work, and Half-Life 3.
        </p>
    </div>
</div>